* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 6.25%;

	--bg-nav: hsl(0, 0%, 14%);
	--tt-theme: hsl(240, 5%, 7%);
	--bg-button: hsl(240, 9%, 89%);
	--bg-button-click: hsl(0, 97%, 40%);
}

body {
	font-family: 'Roboto';
	background-color: var(--bg-color);
}

main {
	height: 100vh;
	display: flex;
	place-content: center;
	gap: 192rem;
}

section {
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
	gap: 25rem;
	height: 100vh;
}
aside {
	display: grid;
	place-content: center;
}

nav {
	display: flex;
	gap: 16rem;
	padding: 22rem 40rem;
	border-radius: 9999rem;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

#sounds button{
	background-color: var(--bg-button);
}

#clock {
	font-size: 96rem;
	color: var(--tt-time);
}

.hiden {
	display: none;
}

#mode-theme {
	position: absolute;
	right: 32rem;
	top: 32rem;
}

.play {
	background-image: url(./img/play.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.pause {
	background-image: url(./img/pause.svg);
	background-repeat: no-repeat;
	width: 53rem;
	height: 56rem;
}

.reset {
	background-image: url(./img/stop.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.more {
	background-image: url(./img/more.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.less {
	background-image: url(./img/less.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

aside {
	margin-top: -100rem;
	display: grid;
	grid-template-columns: max-content max-content;
	gap:24rem;
}

aside button {
	background-color: var(--bg-button);
	display: flex;
	width: 138rem;
	height: 152rem;
	background-position: center;
	border-radius: 32rem;
}

.tree {
	background-image: url(./img/tree.png);
	background-repeat: no-repeat;
}

.rain {
	background-image: url(./img/cloud.png);
	background-repeat: no-repeat;
}	

.coffee {
	background-image: url(./img/coffee.png);
	background-repeat: no-repeat;
}

.fire {
	background-image: url(./img/fire.png);
	background-repeat: no-repeat;
}

.tree:focus {
	background-image: url(./img/tree-focus.png);
	background-color: var(--bg-button-click);
}

.rain:focus {
	background-image: url(./img/cloud-focus.png);
	background-color: var(--bg-button-click);
}	

.coffee:focus {
	background-image: url(./img/coffee-focus.png);
	background-color: var(--bg-button-click);
}

.fire:focus {
	background-image: url(./img/fire-focus.png);
	background-color: var(--bg-button-click);
}


.running .play, 
.running .timer,
html:not(.running) .pause{
	display: none;
}

