* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 6.25%;

	--bg-nav: hsl(0, 0%, 14%);
	--tt-theme: hsl(240, 5%, 7%);
}

body {
	font-family: 'Roboto';
	background-color: var(--bg-color);
}

.light-mode {
	--bg-color: #fff;
	--tt-time: hsl(240, 5%, 7%);
}

.light-mode #light {
	display: none;
}

.dark-mode {
	--bg-color: hsl(240, 5%, 7%);
	--tt-time: #fff;
}

.dark-mode #dark {
	display: none;
}


main {
	height: 100vh;
}

section {
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
	gap: 25rem;
	height: 100vh;
}

nav {
	background-color: var(--bg-nav);
	
	display: flex;
	gap: 16rem;
	padding: 22rem 40rem;
	border-radius: 9999rem;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

#clock {
	font-size: 96rem;
	color: var(--tt-time);
}

.hiden {
	display: none;
}

#mode-theme {
	position: absolute;
	right: 32rem;
	top: 32rem;
}

.play {
	background-image: url(./img/ph_play-circle.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.pause {
	background-image: url(./img/ph_pause-circle.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.timer {
	background-image: url(./img/ph_timer.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.end {
	background-image: url(./img/ph_stop-circle.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.speaker-none {
	background-image: url(./img/ph_speaker-none.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.speaker-on{
	background-image: url(./img/ph_speaker-high.svg);
	background-repeat: no-repeat;
	width: 64rem;
	height: 64rem;
}

.running .play, 
.running .timer,
.music-on .speaker-none,
html:not(.running) .pause,
html:not(.running) .end,
html:not(.music-on) .speaker-on {
	display: none;
}
